# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\documenten\python-three-in-a-row\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
